.rtm-pagination-wrapper {
  display: flex;
  list-style: none;
  .rtm-pagination-item {
    padding: 6px;
    margin-inline: 3px;
    border-radius: 5px;
    cursor: pointer;
    color: #272727;
    
    &:hover {
      background: #dfdfdf;
    }
    
    &.active {
      border: 0.5px solid rgb(43, 179, 224);
      font-weight: 600;
    }
    &.disable {
      color: #a1a1a1;
      cursor: not-allowed;
      &:hover {
        background: transparent;
      }
    }
  }
  .rtm-pagination-ellipsis:hover {
    color: rgb(43, 179, 224);
    background: transparent;
    font-size: 15px;
  }
}
